<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="ru"/>
    <script type="text/javascript"  language="Javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"> </script>
    <link rel="stylesheet" type="text/css" href= "/media/css/base.css" />
    <title> {% block title %}Евро коллекция{% endblock %}</title>

</head>

{% load user_coin %}
<!--
<style>
@font-face {
    font-family: DejaMono;
    src: url("/media/fonts/DejaVuLGCSansMono.ttf");
}

* {
  /*font-size:10pt;*/
  font-family: DejaMono;
  }
</style>
-->

<body id="doc-body">

{% block system %}

<script type="text/javascript" language="Javascript">

    description = {};

    function info (owner, view, all, have, select) {
        this.owner = owner;
        this.view = view;
        this.all = all;
        this.have = have;
        this.select = select;
    };

    function set_li_value(id_name)
    {
        if (!(id_name in description))
            return;
        var country_info = description[id_name];
        {% if request.user.is_authenticated %}
            $('li a#' + id_name).text(country_info.view + ' (' + country_info.have + '/' + country_info.all + ')');
        {% else %}
            $('li a#' + id_name).text(country_info.view + ' (' + country_info.all + ')');
        {% endif %}
    };

    function inc_value_have(id_name)
    {
        if (!(id_name in description))
            return;
        description[id_name].have++;
        if (description[id_name].owner)
            inc_value_have(description[id_name].owner);

        set_li_value(id_name);
    };

    function dec_value_have(id_name)
    {
        if (!(id_name in description))
            return;
        description[id_name].have--;
        if (description[id_name].owner)
            dec_value_have(description[id_name].owner);

        set_li_value(id_name);
    };


    function onClinkHref()
    {
        var commands = window.event.target.id.split("_");
        var command = commands[0];
        var id = commands[1];

        // все показываем
        $("[id*='_absent']").show();
        $("[id*='_present']").show();

        // отключаем те которые отсутствуют
        if (command == 'show')
            $("[id*=" + id + "_absent]").hide();

        // отключаем те которые имеются
        if (command == 'hide')
            $("[id*=" + id +"_present]").hide();
    };

    function onClickIMG(item)
    {
        // формат id id_year_country_<have>
        var id = $(item).attr("id").split('_');
        var id_parent = $(item).parent().attr("id").split('_');

        $.ajax({
            type: "POST",
            url: "/set/",
            data: {id: id[0], operation: (id[3] == 'absent') ? "remove" : "add"}
        }).done(function( msg ) {
                if (msg == "ok")
                {
                    if (id[3] == 'absent')
                    {
                        $(item).css("background-image", "url(/media/uncheck.png)");
                        $(item).attr("id", id.slice(0, -1).join('_') + '_present');
                        $(item).parent().attr("id", id_parent[0] + '_' + 'absent');
                        dec_value_have(id[2]);
                        dec_value_have(id[1]);
                    }
                    else
                    {
                        $(item).css("background-image", "url(/media/check.png)");
                        $(item).attr("id", id.slice(0, -1).join('_') + '_absent');
                        $(item).parent().attr("id", id_parent[0] + '_' + 'present');
                        inc_value_have(id[2]);
                        inc_value_have(id[1]);
                    };
                }
            });

    }
</script>
{% endblock %}

<div id="main-block"> <!-- начало главного блока -->

    <header id="header">
        <div style="float: right;">
            <a href="/accounts/logout/">Выход</a>
        </div>
        <div>
        {% if request.user.is_authenticated %}
           Привет пользователь {{ request.user.username }}
        {% else %}
            <a href="/accounts/login/">Вход</a>
        {% endif %}
        </div>

    </header>

    <nav id="navigation">
        <a href="{% url 'euro' 'all' %}">Евро союз</a>
        <a href="{% url 'country_memorable' country='Россия' type='empty' %}">Россия</a>
        <a href="{% url 'country_memorable' country='США' type='empty' %}">США</a>
    </nav>

    <div id="block-info"> <!-- тут содержиться и меню и информация -->

        {# начало рендеринга меню #}
        {% block left_side %}
            <div id="left_side">
            </div>
        {% endblock %}
        {# конец рендеринга меню #}

        {# начало рендеринга информации #}
        <article id="info">

            {% block info %}
            {% endblock %}

        </article>
        {# конец рендеринга информации #}

    </div>


    <footer id="footer"> <!-- начало описания подвала -->
        Это подвал
    </footer>

</div> <!-- конец главного блока -->

</body>
</html>


