</body>
</html>
<body>
<p>You searched for: <strong>{{ query }}</strong></p>

{% if coins %}
    <table style="width: 607px">
        <tr>
            {% for coin in coins %} 
                {% if forloop.counter0|divisibleby:"4" %}<tr>{% endif %}
                <td style="height: 21px; width: 99px;">
                     {{ coin.nominal }} - {{ coin.ishave }} <br />
                     <img src="{{ coin.image.url }}" width="100" height="100" />
                </td>
                {% if forloop.last or forloop.counter|divisibleby:"4" %}</tr>{% endif %}
            {% endfor %}
        </tr>
    </table>
{% endif %}
    
</body>
</html>
