{% extends "base.html" %}

{% load user_coin %}

{% block title %}
    Евро монеты
{% endblock %}

{% block left_side %}
    <div id="left_side">

    {% if country_descriptions %}
        <ul class="nav">
            <li><a id="all" href="/euro/?country=all">Регулярный чекан</a> </li>
            <ul>
                {% for description in country_descriptions %}
                    <li><a id="{{ description.country_name }}" href="/euro/?country={{ description.country_name }}">{{ description.country_name }}</a>
                    {% if description.coins_group %}
                        <ul>
                            {% for group_description in description.coins_group %}
                                <li><a id="{% get_id_name description.country_name group_description.coins_group_name %}" href="/euro/?country={{ description.country_name }}&type={{ group_description.coins_group_name }}">{{ group_description.coins_group_name }}</a></li>
                            {% endfor %}
                        </ul>

                        </li>
                    {% else %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <li><a href="/euro/memorable/all">Памятные евро 2€ ({{ memorable_user }}/{{ memorable }})</a> </li>
        </ul>
    {% endif %}

    <script>
        var all_coins = 0;
        var have_coins = 0;

        {% for description in country_descriptions %}
            description['{{ description.country_name }}'] = new info('all', '{{ description.country_name }}', {{ description.all_coins_country }}, {{ description.have_coins_country }});
            set_li_value('{{ description.country_name }}');
            {% for group_description in description.coins_group %}
                var key = '{% get_id_name description.country_name group_description.coins_group_name %}'
                description[key] = new info('{{ description.country_name }}', '{{ group_description.coins_group_name }}', {{ group_description.all_coins_group }}, {{ group_description.have_coins_group }});
                set_li_value(key);
            {% endfor %}
            all_coins += description['{{ description.country_name }}'].all;
            have_coins += description['{{ description.country_name }}'].have;
        {% endfor %}

        description['all'] = new info(null, $('li a#all').text(), all_coins, have_coins);
        set_li_value('all');

        {% for country in grouped_country %}
            {% if country.coins_group %}
                {% for group in country.coins_group %}
                    var key = '{% get_id_name country.country_name group.coins_group_name %}'
                    $('li a#'+key).css('font-weight','bold');
                {% endfor %}
            {% endif %}
            $('li a#{{ country.country_name }}').css('font-weight','bold');
        {% endfor %}
        $('li a#all').css('font-weight','bold');
    </script>

    </div>

{% endblock %}

{% block info %}
    {% if grouped_country %}
        {% if request.user.is_authenticated %}
            {% if grouped_country|length > 1 %}
                <p>
                    <a>Показать </a><a class="link" id="show_" onClick="onClinkHref()">имеющиеся,</a>
                    <a> показать </a><a class="link" id="hide_" onClick="onClinkHref()">отсутсвующие,</a>
                    <a> показать </a><a class="link"  id="all_" onClick="onClinkHref()">все</a>
                </p>

            {% endif %}
        {% endif %}

        {% for country in grouped_country %}
            <div id="country"> {# div по странам #}
            <p>
                Страна: <strong>{{ country.country_name }}</strong>
                {% if request.user.is_authenticated %}
                    {% if country.coins_group %}
                        <a>показать </a><a class="link" id="show_{{ country.country_name }}" onClick="onClinkHref()">имеющиеся,</a>
                        <a> показать </a><a class="link" id="hide_{{ country.country_name }}" onClick="onClinkHref()">отсутсвующие,</a>
                        <a> показать </a><a class="link" id="all_{{ country.country_name }}" onClick="onClinkHref()">все</a>
                    {% endif %}
                {% endif %}
            </p>


            {% if country.coins_group %}
                {%  for group in country.coins_group %}
                    <div id="group_in_country"> {# div по группам #}
                    {% if group.coins_group_name %}
                        <p style="margin-bottom: 0px;"> <strong>{{ group.coins_group_name }}</strong></p>
                    {%  endif %}
                    {% for coin in group.coins_group %}
                        {% if forloop.counter0|divisibleby:"4" %}<div id="line">{% endif %}
                            {# если пользователь авторизован, то будем ему позволять наблюдать за монетами  #}
                            <div class="empty_row"> {# div в который все вставлено #}
                                {%  user_coins_info request coin country.country_name group.coins_group_name %}
                                    <div class=nominal2> {{ coin.nominal }} </div>

                                    {# вешаем обработчик клика на checkboxе #}
                                    <script>
                                        var div_click_{{ coin.id }} = $("[id*='{{ coin.id }}_0_{% get_id_name country.country_name group.coins_group_name %}']");
                                        div_click_{{ coin.id }}.click(function () {
                                            onClickIMG(this);
                                        });
                                    </script>
                                </div> {# div с картинкой #}
                            </div> {# div в который все вставлено #}
                        {% if forloop.last or forloop.counter|divisibleby:"4" %}</div>{% endif %}

                    {% endfor %}
                    </div> {# конец div по группам #}
                {% endfor %}
            {% else %}
                <p>Монеты страны {{ country.country_name }} не существуют</p>
            {% endif %}

            </div> {#  конец div по странам #}

        {% endfor %}
    {% endif %}
{% endblock %}
