{% extends "base.html" %}

{% load user_coin %}

{% block title %}
    Евро юбилейные монеты
{% endblock %}

{% block left_side %}
    <div id="left_side">

    {% if country_descriptions %}
        <ul class="nav">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'euro' 'all' %}">Регулярный чекан ({{ regular_user }}/{{ regular }})</a> </li>
            {% else %}
                <li><a href="{% url 'euro' 'all' %}">Регулярный чекан ({{ regular }})</a> </li>
            {% endif %}
            
            <li><a id="all" href="{% url 'memorable' 'all' %}">Памятные евро 2€</a> </li>
            <ul>
                <a>По странам</a>
                {% for description in country_descriptions %}
                    <li><a id="{{ description.country_name }}" href="{% url 'memorable' description.country_name %}">{{ description.country_name }}</a> </li>
                {% endfor %}
            </ul>

            <ul>
                <a>По годам</a>
                {% for description in years_descriptions %}
                    <li><a id="{{ description.country_name }}" href="{% url 'year' description.country_name %}">{{ description.country_name }}</a> </li>
                {% endfor %}
            </ul>

        </ul>
    {% endif %}

    <script>
        {% for description in country_descriptions %}
            description['{{ description.country_name }}'] = new info('all', '{{ description.country_name }}', {{ description.all_coins_country }}, {{ description.have_coins_country }});
            set_li_value('{{ description.country_name }}');
        {% endfor %}


        var all_coins = 0;
        var have_coins = 0;
        for (var des in description)
        {
            all_coins += description[des].all;
            have_coins += description[des].have;
        }

        {% for description in years_descriptions %}
            description['{{ description.country_name }}'] = new info(null, '{{ description.country_name }}', {{ description.all_coins_country }}, {{ description.have_coins_country }});
            set_li_value('{{ description.country_name }}');
        {% endfor %}

        //description['country'] = new info('all', $('li a#country').text(), all_coins, have_coins);
        //set_li_value('country');

        description['all'] = new info(null, $('li a#all').text(), all_coins, have_coins);
        set_li_value('all');

        {% for place in country %}
            {% if place.year %}
                $('li a#{{ place.year }}').css('font-weight','bold');
            {% else %}
                $('li a#{{ place.country_name }}').css('font-weight','bold');
            {% endif %}

        {% endfor %}
        $('li a#all').css('font-weight','bold');
    </script>

    </div>

{% endblock %}

{% block info %}

    <div id="country"> {# div по странам #}
        {% for place in country %}
        <p></p>
{% comment %}
            <p>
                Страна: <strong>{{ place.country_name }}</strong>
            </p>
{% endcomment %}
            {% for group in place.coins_group %}
                {% for coin in group.coins_group %}
                    <div class="empty_memorable"> {# div в который все вставлено #}
                    {% if request.user.is_authenticated %}
                        {# у пользователя есть такая монента #}
                        {% if request.user|user_have_coin:coin %}
                            {# рисуем check что она есть #}
                            <div class="memorable" style="background-image:url({{ coin.image.url }});" id="{{ place.country_name }}_present">
                            <div class="present" style="background-image:url(/media/check.png); width: 25px; height: 22px;" id="{{ coin.id }}_{{ coin.year }}_{{ place.country_name }}_absent"> </div>
                        {% else %}
                            {# монеты нет #}
                            <div class="memorable" style="background-image:url({{ coin.image.url }});" id="{{ place.country_name }}_absent">
                            <div class="present" style="background-image:url(/media/uncheck.png); width: 25px; height: 22px;" id="{{ coin.id }}_{{ coin.year }}_{{ place.country_name }}_present"> </div>
                        {% endif %}
                    {% else %}
                        {# пользователь на авторизован, рисум протсо картинку #}
                        <div class="memorable" style="background-image:url({{ coin.image.url }});" id="{{ place.country_name }}_absent">
                    {% endif %}

                    {# вешаем обработчик клика на checkboxе #}
                    <script>
                        var div_click_{{ coin.id }} = $("[id*='{{ coin.id }}_{{ coin.year }}_{{ country.country_name }}']");
                        div_click_{{ coin.id }}.click(function () {
                            onClickIMG(this);
                        });
                    </script>
                    </div> {# div с картинкой #}
                    <div class="nominal_memorable"> {{ coin.nominal }} </div>
                    <div class="year">
                        {% if coin.year %}
                            {{ coin.year }}
                        {% endif %}
                    </div>
                    <div class="description">
                        {% if coin.description %}
                            {% if year_filter %}
                                <div class="description_info"> {{ place.country_name }} - {{ coin.description }}</div>
                            {% else %}
                                <div class="description_info"> {{ coin.description }}</div>
                            {% endif %}
                        {% endif %}
                    </div>

                </div> {# div в который все вставлено #}

                {% endfor %}
            {% endfor %}
        {% endfor %}

    {% if request.user.is_authenticated %}
         {% if year_filter %}
            <a href="{% url 'pdf_year' year_filter %}">Скачать как pdf {{ year_filter }}</a>
         {% else %}
            {% if country|length == 1 %} 
                <a href="{% url 'pdf_memorable' country.0.country_name %}">Скачать как pdf {{ country.0.country_name }}</a>
            {% else %}
                <a href="{% url 'pdf_memorable' "all" %}">Скачать как pdf all</a>
            {% endif %}
         {% endif %}
    {% endif %}

    </div> {# конец div по странам #}

{% endblock %}
