{% extends "base.html"  %}

{% block system %}
{% endblock%}

{% block title %}
    Успешная регистрация
{% endblock %}

{% block left_side %}
{% endblock %}




{% block info %}
    <style>
        body {
            text-align:center;
        }
        #info {
            width:1000px;
            padding:15px;
            margin:0px auto;
            text-align:center;
        }


    </style>

    <h1> Регистрация завершена</h1>
    Спасибо за уделённое время. На ваш e-mail отправлен
    код подтверждения. <br/>Необходимо подтвердить регистрацию,
    просто кликнув по указанной ссылке.<br/><br/>
{% endblock %}